<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <title th:text="${show.show_title}">Pocket FM</title>
        <link rel="icon" type="image/x-icon" th:href="${show.image_url}">
    </head>
    <body>
    <table class="table table-striped table-bordered" id="example" style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Sequence</th>
            <th>Day Since</th>
            <th>Play</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="episode : ${episodes}">
            <th><a th:text="${episode.story_title}" th:href="${episode.media_url}">Name</a></th>
            <th th:text="${episode.natural_sequence_number}">Sequence</th>
            <th th:text="${episode.days_since_upload}">Day Since</th>
            <th>
                <audio th:id="${episode.story_id}+'_audio'" th:data-player="${episode.story_id}" th:title="${episode.story_title}" controls>
                    <source th:src="${episode.media_url}">
                </audio>
                <!--<i th:id="${episode.story_id}+'_play'" th:data-player="${episode.story_id}" class="fa fa-solid fa-play" onclick="playAudio(this.id)"></i>
                <i th:id="${episode.story_id}+'_pause'" th:data-player="${episode.story_id}" style="display: none" class="fa fa-solid fa-pause" onclick="pauseAudio(this.id)"></i>-->
            </th>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Sequence</th>
            <th>Day Since</th>
            <th>Play</th>
        </tr>
        </tfoot>
    </table>
    </body>
    <footer>
        <script>
            new DataTable('#example',{
                order: [[1]]
            });
            function playAudio(id) {
                console.log(id);
                var showId = id.replace('_play','')
                console.log(showId);
                $('#'+id).hide()
                $('#'+showId+"_pause").show()
                var x = document.getElementById(showId+'_audio');
                x.play();

                x.onpause = function () {
                    pauseAudio(showId+"_pause");
                }
            }

            function pauseAudio(id) {
                console.log(id);
                var showId = id.replace('_pause','')
                console.log(showId);
                $('#'+id).hide()
                $('#'+showId+"_play").show()
                var x = document.getElementById(showId+'_audio');
                x.pause();
            }
        </script>
    </footer>
</html>